#container {
    height: 900px;
    padding: 90px;
    background-color: whitesmoke;
}
#mainNav {
    background-color: #F46239;
}

.challenge-label {
    background-color: white;
    display: flex;
    width: 700px;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
}
.challenge-label  >span >a {
    font-size: 18px;
    display: flex;
    text-decoration: none;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
}

.challenge-period {
   display: flex;
   align-items: center;
   gap: 15px;
}

.challenge-label p {
    margin: 0;
}

.challenge-label .btn, .challenge-label .btn-primary, .challenge-label .btn-xl {
    font-size: 20px;
    padding: 20px 25px;
}

.challenge-container {
    margin-top: 50px;
}

#modify_btn {
    display: none;
}