#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#mainNav {
    background-color: #F46239;
}
/* 타이틀 */
.title {
    height: 60px;
    text-align: right;
    border-bottom: 3px solid #F46239;
    margin-bottom: 15px;
}
.title h1 {
    padding: 0 20px;
}
.input-form-box {
    border: 0px solid #ff0000;
    display: flex;
    align-items: center;
    margin: 15px;
}

.input-form-box > span {
    display: block;
    text-align: center;
    min-width: 80px;
}

#idCheckMessage, #emailCheckMessage {
    font-size: 12px;
    color: red;
}

.button-login-box {
    margin: 10px 0;
}

/* 버튼 사이 여백 추가 */
.button-login-box button {
    margin: 5px 0; /* 버튼 사이에 5px 여백 추가 */
    width: 100%;
}

#inputBox {
    margin: 10px;
    width: 600px;
}

#inputBox button {
    padding: 8px;
    margin: 5px 10px;
    width: 40%;
}
.form-control {
    padding: 5px;
}
.input-form-box #dropdownMenuButton {
    width: 100%;
    padding: 5px 10px;
}
.dropdown {
    width: 80%;
}
/* 드롭다운 메뉴에 스크롤 추가 */
.custom-dropdown-menu {
    max-height: 200px; /* 최대 높이 설정 */
    overflow-y: auto;  /* 세로 스크롤 허용 */
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 0;
    margin-top: 10px;
}
.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}