#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120%;
}
#mainNav {
    background-color: #F46239;
}
/* 타이틀 */
.title {
    height: 60px;
    text-align: right;
    border-bottom: 3px solid #F46239;
    margin-bottom: 35px;
}
.title h1 {
    padding: 0 20px;
}
/* step */
.step {
    display: flex;
    align-items: center;
    gap: 50px;
}
.step1 {
    border: #D9D9D9 solid 2px;
    border-radius: 15px;
    box-shadow: 3px 3px 8px #D9D9D9;
    padding: 10px 20px;
}
.step1 p {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 0;
}
.step2 {
    border: #F46239 solid 3px;
    border-radius: 15px;
    box-shadow: 3px 3px 8px #f4623a;
    padding: 10px 20px;
}
.step2 p {
    font-size: 2.0em;
    font-weight: bold;
    margin-bottom: 0;
}
#signUpBox {
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    background-color: #f8f9fa;
}
.input-form-box {
    border: 0px solid #ff0000;
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.input-form-box span {
    display: block;
    text-align: center;
    min-width: 80px;
    margin-right: 5px;
}
.inputForm {
    display: flex;
    align-items: center;
}

#idCheckMessage, #emailCheckMessage {
    font-size: 12px;
    color: red;
}

.button-login-box {
    margin: 10px 0;
}

/* 버튼 사이 여백 추가 */
.button-login-box button {
    margin: 5px 0; /* 버튼 사이에 5px 여백 추가 */
    width: 100%;
}

#inputBox {
    margin: 10px;
    width: 650px;
}

#inputBox button {
    padding: 8px;
    margin: 5px 10px;
    width: 35%;
}
.form-control {
    padding: 5px;
}
.input-form-box #dropdownMenuButton {
    width: 100%;
    padding: 5px 10px;
}
.dropdown {
    width: 80%;
}
/* 드롭다운 메뉴에 스크롤 추가 */
.custom-dropdown-menu {
    max-height: 200px; /* 최대 높이 설정 */
    overflow-y: auto;  /* 세로 스크롤 허용 */
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 0;
    margin-top: 10px;
}
.error-message {
    color: red;
    font-size: 0.9em;
    margin: 2px 10px;
}