.modifyForm {
    margin: 5px;
    padding-top: 45px;
    background-color: whitesmoke;
    height: 600px;
}
.updateForm {
    margin: 5px;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    background-color: lightgray;
}
.input-form-box {
    border: 0px solid #ff0000;
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.input-form-box span {
    display: block;
    text-align: center;
    min-width: 80px;
    margin-right: 5px;
}
.inputForm {
    display: flex;
    align-items: center;
}
.inputForm button {
    margin-left: 5px;
}
.error-message {
    color: red;
    font-size: 0.9em;
}